*{
    font-family: 'Tahoma';
    background-color: #f5f5f5;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

div{
    background-color: #f5f5f5;
    padding: 50px;
    text-align: center;
    border-top: 1px solid #d5d5d5;
}

h2{
    font-size: 24px;
}

h3{
    font-size: 20px;
}

img{
    width: 190px;
}

p{
    width: 930px;
    text-align: center;
    line-height: 28px;
    text-align: justify;
}

span{
    font-weight: bold;
}

a{
    background-color: rgb(73, 185, 112);
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
}